* {
  margin: 0px auto;
  padding: 0px;

}

body {
  font-family: "ProximaNova",arial,sans-serif;
}
#navbar {
  background-color: #0079ad;
  height: 60px;

}

#logo {
  margin-left: 20%;               /*check margin later*/
  color:white;
  padding-top: 16px;
  float:left;
  font-size: 25px;
}

#videochat {
  font-size: 16px;
  background-color: #005379;
  padding: 0 15px;
  border-radius: 15px;
  color: #83c7e4;
  float:left;
}

#developerslink {
  color: #83c7e4;

  float: left;
  padding-left: 10px;
  padding-right: 10px
}

#links {
  /*margin-right: 10%;*/
  padding: 16px 0 0 ;
  position:fixed;
  right: 20%;
  width: 351px;
  height: 30px;

}

#main {
  background-color: #ddf5ff;
  height: 900px;
}

#header {
font-size: 40px;
line-height: 40px;
font-weight: 20000;
letter-spacing: -1px;
padding: 0 0 8px;
text-align: center;
padding-top: 4%

}

#downloads {
padding: 0px;
font-size: 14px;
color: #6e8d99;
text-align: center;
}

#space {
  height: 45px;
}

#Main_circle_box {
  height: 279px;
  width: 940px;



}

.circle_boxes {
  float: left;
  height: 279;
  width: 284px;
  text-align: center;
}

#scissor {

  background-color: #0079ad;
  border-radius: 100%;
  height: 185px;
  width: 185px;


}

#graph {
  background-color: #0079ad;
  border-radius: 100%;
  height: 185px;
  width: 185px;


}

#tv {
  background-color: #0079ad;
  border-radius: 100%;
  height: 185px;
  width: 185px;


}

.steps {
  padding-top: 20px;
  color: #0079ad;
}

.stepstext {
  line-height: 24px;
  color: #6e8d99;
  font-size: 15px;
}

#start {
  background-color: #45ad3a;
  border-radius: 2px;
  font-size: 18px;
  width: 332px;
  height: 26px;
  color: white;
  text-align: center;
  padding-left: 10px;
  clear: both;
}
